html {
  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-weight: 700;
}

p {
  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #585858;
}

a {
  text-decoration: none;
  color: #000;
}

.bg {
  background-color: #faffe1;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.bg-sm {
  background-color: #e3fdda;
}

.opacity-less {
  opacity: .2;
}

.color-black {
  color: #000;
}

.btn-sm {
  background-color: #fff5b8;
  border-color: #fff5b8;
  color: #000;
}

.logos {
  max-width: 60%
}

.scroll {
  animation-name: running-footer;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes running-footer {
  0% {
    transform: translateX(-20%);
  }

  100% {
    transform: translateX(100%);
  }

}

.green-factory-text,
.smart-meal-text{
  left: 60%;
  top: 20%;
}

.pattern-library-text {
  left: 45%;
  top: 10%;
}

.grad-show-text,
.marys-garden-text,
.influenza-text,
.pointer-creative-text,
.scrub-inspired-text,
.anna-belanger-text {
  left: 10%;
  top: 8%;
}

.cactess-text {
  left: 5%;
  top: 0;
}

.link {
  color: #f58a33;
  border-bottom: 2px solid #f58a33;
}

.link:hover {
  color: #000;
  border-bottom: 2px solid #000;
}

.opacity {
  opacity: .3;
}

.opacity {
  opacity: .3;
}

a:hover {
  cursor: pointer;
}

@media only screen and (min-width: 20em) {

  .cs-2,
  .cs-3,
  .cs-4,
  .cs-5,
  .cs-6,
  .cs-7 {
    width: 98%;
  }

  .stroke-text {
    max-width: 100%;
  }

  .work-text,
  .play-text,
  .about-text,
  .prev-text,
  .home-text,
  .next-text {
    text-align: center;
  }

  .stroke-text {
    height: 20px;
  }

}

@media only screen and (min-width: 30em) {

  .nav {
    display: block;
  }

  .stroke-text {
    height: 20px;
    width: 160px;
  }

  .work-text,
  .play-text,
  .about-text {
    text-align: center;
  }

}

@media only screen and (min-width: 58em) {

  .cs-2,
  .cs-3,
  .cs-4,
  .cs-5,
  .cs-6,
  .cs-7 {
    width: 49%;
  }

  .stroke-text {
    height: 30px;
    width: 240px;
  }

  .work-text,
  .prev-text {
    text-align: left;
  }

  .play-text,
  .home-text {
    text-align: center;
  }

  .about-text,
  .next-text {
    text-align: right;
  }

}
