html {
  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-weight: 700;
}

p {
  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #585858;
}

.stroke-text {
  max-width: 40%;
  text-align: center;
}

a {
  text-decoration: none;
  color: #000;
}

.green-factory-text {
  left: 60%;
  top: 30%;
}

.smart-meal-text {
  left: 10%;
  top: 0;
}

.grad-show-text {
  left: 10%;
  top: 8%;
}

.scrub-inspired-text {
  left: 10%;
  top: 0;
}

.cs-2,
.cs-3,
.cs-4,
.cs-5,
.cs-6,
.cs-7 {
  width: 49%;
}
